@import '../../styles/_colors.scss';

/* @define RequiresMetaMask */
.RequiresMetaMask {
  background: $background;
  height: 100%;

  &-message {
    color: white;
    font-size: 40px;
    padding: 70px 50px;
    text-align: center;

    &-link {
      color: $info;
      text-decoration: none;
    }
  }
}
