@import '../../styles/_colors.scss';

/* @define InfoCard */
.InfoCard {
  align-items: center;
  background: $blue;
  border-radius: 4px;
  color: $invertedText;
  display: flex;
  line-height: 28px;
  padding: 25px;
  user-select: none;
  width: 100%;

  &-icon {
    height: 26px;
    margin-right: 13px;
    width: 26px !important;
  }
}
