@import '../../styles/_colors.scss';

/* @define Button */
.Button {
  align-items: center;
  background: $info;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 $info;
  display: inline-flex;
  height: 60px;
  padding: 0 30px;
  user-select: none;

  &:hover {
    background: darken($info, 5%);
  }

  &:active {
    background: darken($info, 10%);
  }

  &.is-disabled {
    background: $disabled;
  }

  &-label {
    color: $invertedText;

    &-link {
      color: $invertedText;
      text-decoration: none;
    }
  }
}
