@import '../../styles/_colors.scss';

/* @define Button */
.Button {
  // stylelint-disable-next-line declaration-colon-newline-after
  background: linear-gradient(0deg, $info 0%, $info 100%);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $info;
  color: $invertedText;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  min-width: 200px;
  padding: 0 20px;
  text-align: center;

  &.is-disabled {
    background: $disabled;
    box-shadow: none;
    cursor: initial;
  }

  &-label {
    margin: 0;
  }
}
