@import '../../styles/_colors.scss';

/* @define Doges */
.Doges {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-settingsBar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vw 13%;
    width: 100%;

    @media only screen and (max-width: 1100px) {
      padding: 2vw 8%;
    }

    @media only screen and (max-width: 950px) {
      padding: 2vw 3%;
    }

    &-count {
      margin: 2vw 0;

      &-label {
        color: $lightText;
      }

      &-number {
        font-weight: 500;
      }
    }

    &-dropdowns {
      display: flex;
      flex-wrap: wrap;
      margin-top: -16px;

      &-dropdown {
        margin: 16px 0 0 16px;
      }
    }
  }

  &-masonryGrid {
    margin: auto;
  }
}
