/* @define Submit */
.Submit {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
