@import '../../styles/_colors.scss';

/* @define Modal */
.Modal {
  background: $background;
  border: 1px solid $mint;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 $mint, 0 0 1px 0 $mint, 0 1px 0 0 $mint;
  left: 50%;
  max-height: calc(100% - 50px);
  outline: none;
  overflow-y: scroll;
  padding: 26.5px 70px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  &--overlay {
    background: transparentize($blue, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &-close {
    position: absolute;
    right: 27px;
    top: 27px;
  }
}
