/* @define Settings */
.Settings {
  padding: 40px;

  &-emailForm {
    align-items: center;
    display: flex;
    flex-direction: column;

    &-message {
      line-height: 16px;
      max-width: 600px;
    }
  }
}
