/* @define Details */
.Details {
  align-items: center;
  display: flex;
  flex-direction: column;

  &-titleTooltip {
    height: 15px;
    margin: 0 0 10px -3px;
    width: 15px;
  }

  &-valueList {
    margin-top: 30px;
  }

  &-button {
    margin-top: 50px;
  }
}
