@import '../../styles/_colors.scss';

/* @define HowItWorks */
.HowItWorks {
  padding: 80px 25%;

  &-title {
    margin-bottom: 50px;
    text-align: center;
  }

  &-image {
    margin-bottom: 65px;
    width: 100%;
  }

  &-text {
    color: $darkText;

    &-infographic {
      width: 100%;
    }
  }
}
