@import '../../styles/_colors.scss';

/* @define Banner */
.Banner {
  background: $mint;
  color: $darkGrey;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 20px 13% 18px 13%;
  width: 100%;

  &-link {
    color: $darkGrey;
    cursor: pointer;
    text-decoration: none;
  }
}
